<form  [formGroup]="subjectForm" >

<div class="input-group mb-3">
    <span class="input-group-text" id="basic-addon1">Title : </span>
    <input type="text" formControlName="title" class="form-control" placeholder="Username" aria-label="Username" aria-describedby="basic-addon1">
  </div>

  <div class="input-group">
    <span class="input-group-text">Decription : </span>
    <textarea class="form-control" formControlName="description" aria-label="With textarea"></textarea>
  </div>

  <button type="button" (click)="addSubject()" class="btn btn-success">Add</button>

</form>
