
<div *ngFor="let item of subjects ; let i = index">
<div class="card" >

    <div class="card-body">
      <h5 class="card-title">  {{item.title}}</h5>
      <p class="card-text">{{item.description}}</p>
      <div class="form-check">
        <input class="form-check-input" value="yes" (change)="radioChangeHandler($event)"   type="radio" name="'flexRadioDefault'{{i}}" id="flexRadioDefault1">
        <label class="form-check-label" for="'flexRadioDefault1'{{i}}">
Yes        </label>
<p style="font-size: 15px; color: green;">{{item.responses.yes}} Personnes ont voté pour ce choix
</p>

      </div>
      <div class="form-check">
        <input class="form-check-input" value="no" (change)="radioChangeHandler($event)" type="radio" name="'flexRadioDefault'{{i}}" id="'flexRadioDefault2'{{i}}">
        <label class="form-check-label" for="'flexRadioDefault'{{i}}">
No        </label>
<p style="font-size: 15px; color: red;">{{item.responses.no}} Personnes ont voté pour ce choix
</p>
      </div>

      <button class="btn btn-primary" (click)="sendResponse(i)">Send Response</button>
    </div>
  </div>
</div>