<div class="card" style="max-width: 50%;;margin-left: 25%;margin-top: 7%;background-color: grey;">
    <div class="card-body">
        <form [formGroup]="registerForm" >
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Name</label>
            <div class="col-sm-10">
              <input type="text" class="form-control" id="name" formControlName="name"placeholder="Write name">
            </div>
          </div>
        <div class="mb-3 row">
            <label for="staticEmail" class="col-sm-2 col-form-label">Email</label>
            <div class="col-sm-10">
              <input type="text"  class="form-control" id="email" formControlName="email"placeholder='Write email'>
            </div>
          </div>
          <div class="mb-3 row">
            <label for="inputPassword" class="col-sm-2 col-form-label">Password</label>
            <div class="col-sm-10">
              <input type="password" class="form-control" id="inputPassword"formControlName="password"placeholder='Write pas'>
            </div>
          </div>
          <button type="button" class="btn btn-success"(click)='register()'>Register</button>
        </form>
    </div>
  </div>